@charset "ISO-8859-1";

*{
	margin:0;
	padding:0;
}

body{
	   background: url(blackbag.jpg) no-repeat center center fixed;
	   background-size: cover;
}

.container{
   color:white; 
   position: absolute;
   top: 15%;
   left:30%;
  
}

.container h1{
	font-size:40px;
	border-bottom: 5px solid white;
	margin-bottom: 43px;
	padding: 13px 0;
}

.box{
	width: 75%;
	border-bottom: 2px solid white;
	margin: 32px 0px ;
}

.box input{
	background: none;
	width: 75%;
	margin: 2px 25px ;
	padding: 2px 0px;
	font-size: 20px;
	border: none;
	outline: none;
	color: white;

}

.box i{
	width: 5px;
}

.btn input{
	cursor: pointer;
	outline: none;
	width: 25%;
	margin:12px 0;
	padding:6px;
	border-radius:10px;
	color:white;
	background: none;
	border: 2px solid white;
	
}

.btn a{
	font-size: 20px;
	color: tomato;
}

.btn{
	font-size: 20px ;
}

